
@font-face {
    font-family: 'Pretendard-Black';
    src: url(fonts/Pretendard-Black.otf);
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url(fonts/Pretendard-Bold.otf);
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url(fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url(fonts/Pretendard-SemiBold.otf);
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url(fonts/Pretendard-Regular.otf);
}
@font-face {
    font-family: 'terminal-grotesque';
    src: url(fonts/terminal-grotesque-webfont.ttf);
}


body {
    cursor: url("media/face.png"), auto;
    position:absolute;
    width:100%;
    height:100%;
  }

